<div class="admin-container">
    <div class="admin-container-mini">
            <h1>ADMIN</h1>
            <div class="admin-buttons">
                <button onclick="location.href='/gotoquestions'">QUESTIONS</button>
                <button onclick="location.href='/gotousers'">USERS</button>  
            </div>
    </div>
</div>