<div class="header">
    <div class="logo-menu">
        <ul class="menu-horizontal">
            <li>
                <a><img src="img/menu.png" alt="menu" class="menu"></a>
                <ul id="menu-vertical" class="menu-vertical">
                    <li><a href="/gotoroulette">JUGAR</a></li>
                    <li><a href="#agenda-2030">AGENDA 2030</a></li>
                    <li><a href="/gotoranking">TOP 5</a></li>
                    <li><a href="/profile">PERFIL</a></li>
                    <li style="background-color: rgb(44, 44, 44);"><a href="/logout">LOG-OUT</a></li>
                </ul>
            </li>
        </ul>
        <a href="/gotoindex"><img src="img/logo.png" class="logo" alt="logo"></a>
    </div>
    <div class="user">
        {{user}}<a href="/profile"><img src="uploads/{{img}}" alt="user"></a> 
    </div>
</div>
<div class="main-agenda2030">
    <div class="agenda-2030">
            <h1>¿QUÉ ES LA AGENDA 2030?</h1>
            <br>
            <br>
            <p>La Agenda 2030 para el Desarrollo Sostenible, es un plan de acción a favor de las personas, el planeta y la prosperidad, que también tiene la intención de fortalecer la paz universal y el acceso a la justicia.</p>  
    </div>
</div>