<div class="game-container">
    <div class="question">
        <h1>¿En qué año se creó la AGENDA 2030?</h1>
    </div>
    <div class="game-container-mini-answers">
        <div class="question-number">
            <p>2°</p>
        </div>
        <div class="answers">
            <div class="answer">
                <button>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, amet laudantium rerum voluptatibus nesciunt esse.</button>
            </div>  
            <div class="answer">
                <button>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, amet laudantium rerum voluptatibus nesciunt esse.</button>
            </div>
            <div class="answer" >
                <button style="margin-bottom: 0px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, amet laudantium rerum voluptatibus nesciunt esse.</button>
            </div>
        </div>
        <div class="timer">
            <p>0</p>
        </div>
    </div>
</div>
<footer>
    <p>&copy; Converti-Chiappetti-Moyano-Serdá</p>
</footer>