<div class="header">
    <div class="logo-menu">
        <ul class="menu-horizontal">
            <li>
                <a><img src="img/menu.png" alt="menu" class="menu"></a>
                <ul id="menu-vertical" class="menu-vertical">
                    <li><a href="/gotologin">INGRESÁ</a></li>
                    <li><a href="/#">RANKING</a></li>
                    <li><a href="#agenda-2030">AGENDA 2030</a></li>
                    <li><a href="/gotoregister">REGISTRATE</a></li>
                    <li style="background-color: rgb(44, 44, 44);"><a href="/gotoroulette">JUGAR</a></li>
                </ul>
            </li>
        </ul>
        <a href="/gotoindex"><img src="img/logo.png" class="logo" alt="logo"></a>
    </div>
    <div class="user">
        <a href="/gotologin"><img src="img/user.png" alt="user"></a> 
    </div>
</div>
<div class="main">
    <div class="container" data-aos="zoom-out-up">
        <div class="button-play">
            <button onclick="location.href='/gotoroulette'">JUGAR</button>
        </div>
        <div class="image-ods">
            <img src="img/ods-index.gif" alt="ods">
        </div>
    </div>
    </div>
    <div id="agenda-2030" class="rest" data-aos="fade-down">
    <div class="agenda-2030">
        <h1>¿QUÉ ES LA AGENDA 2030?</h1>
        <br>
        <br>
        <p>La Agenda 2030 para el Desarrollo Sostenible, es un plan de acción a favor de las personas, el planeta y la prosperidad, que también tiene la intención de fortalecer la paz universal y el acceso a la justicia.</p>  
    </div>
</div>
<footer>
    <p>&copy; Converti-Chiappetti-Moyano-Serdá</p>
</footer>