<div class="header">
    <div id="logo-menu" class="logo-menu">
        <ul class="menu-horizontal">
            <li>
                <a><img src="img/menu.png" alt="menu" class="menu"></a>
                <ul id="menu-vertical" class="menu-vertical">
                    <li><a href="/gotologin">INGRESÁ</a></li>
                    <li><a href="/#">RANKING</a></li>
                    <li><a href="#agenda-2030">AGENDA 2030</a></li>
                    <li><a href="/gotoregister">REGISTRATE</a></li>
                    <li style="background-color: rgb(44, 44, 44);"><a href="/game">JUGAR</a></li>
                </ul>
            </li>
        </ul>
        <a href="/gotoindex"><img src="img/logo.png" class="logo" alt="logo"></a>
    </div>
    <div class="user">
        <p>{{user}}</p><a href="/gotologin"><img src="img/user.png" alt="user"></a> 
    </div>
</div>
<div class="profile-container">
    <div class="profile-container-mini">
        <div class="profile-text">
            <h1>Usuario</h1><img src="img/user.png" height="30px">
        </div>
    </div>
</div>
<footer>
    <p>&copy; Converti-Chiappetti-Moyano-Serdá</p>
</footer>