<div class="game-container">
    <div class="question">
        <div class="question-decoration">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit officia rem alias tempora esse ex non expedita sint, sed at eos. Suscipit  ullam at.ipsum dolor sit amet consectetur adipisicing elit. Sit officia rem alias tempora esse ex non expedita</h1>
        </div>
    </div>
    <div class="game-container-mini-answers">
        <div class="question-number">
            <div class="count-decoration">
                <p id="count">23</p>
            </div>
        </div>
        <div class="answers">
            <div class="answer">
                <button id="wrongQuestion1" value="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, repudiandasdsadsaae? Consectetur possimus a" onclick="newQuestionWrong()">"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, repudiandasdsadsaae? Consectetur possimus a</button>
            </div>  
            <div class="answer">
                <button id="wrongQuestion2" value="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, repudiandasdsadsaae? Consectetur possimus a" onclick="newQuestionWrong()">"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, repudiandasdsadsaae? Consectetur possimus a</button>
            </div>
            <div class="answer" >
                <button id="rightQuestion" value="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, repudiandasdsadsaae? Consectetur possimus a" onclick="newQuestionRight()">"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, repudiandasdsadsaae? Consectetur possimus a</button>
            </div>
        </div>
        <div id="timer-container" class="question-number">
            <div id="timer" class="count-decoration">
                <p>30</p>
            </div>
        </div>
    </div>
</div>
<script src="/js/timer.js"></script>