<div class="big-container">
    <div class="container-input">
        <div class="container-input-mini">
            <h1>REGISTRO</h1>
            <br>
            <br>
            <form class="form-input-register" action="/register" method="PUT" id="formregister">
                <input type="text" id="nameId" value="" class="value-input" placeholder="Ingresar Nombre" required>
                <label for="nameId"></label>
                <br>
                <br>
                <input type="text" id="surnameId" value="" class="value-input" placeholder="Ingresar Apellido" required>
                <label for="surnameId"></label>
                <br>
                <br>
                <input type="text" id="userId" value="" class="value-input" placeholder="Ingresar Usuario" required>
                <label for="userId"></label>
                <br>
                <br>
                <input type="password" id="passwordId" class="value-input" value="" placeholder="Ingresar Contraseña" required>
                <label for="passwordId"></label>
                <br>
                <br>
                <input type="password" id="passwordConfirmId" class="value-input" value="" placeholder="Confirmar Contraseña" required>
                <label for="passwordConfirmId"></label>
                <br>
                <br>
                <a href="/gotologin">¿Ya tienes cuenta?</a>
                <br>
                <br>
                <input type="button" onclick=" register()" class="login-register-input" value="REGISTRARSE">
            </form>
        </div>
    </div>
    <div class="container-image">
        <img src="/img/ods-login-register.gif">
    </div>
</div>