<form action="/gotogame" id="formgame"></form>
<div class="roulette-container">
    <div class="roulette-container-mini">
        <div class="stick"></div>
        <div>
        <img src="img/imagen.png" class="roulette" id="roulette">
        </div>
    </div>
    <script src="/js/roulette.js"></script>
</div>
